@media screen and (max-width : 800px){
    .left-sec{
        width: 100%;
        height: 50%;
    }
    .right-sec{
        height: 50%;
        width: 100%;
    }
    #home{
        flex-direction: column-reverse;
    }
    #home .right-sec{
        margin-top: 10%;
    }
    .link a{
        font-size: 15px;
    }
    .fpb{
        font-size: 15px;
    }
    .aboutt{
        flex-wrap: wrap;
    }
    .main-image{
        height: 300px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right-sec .main-image img{
        height: 100%;
        width: 100%;
    }
}
@media (max-width : 700px){
    .footer-sec{
        width: 70%;
    }
}
@media (max-width : 1000px){
    #contact{
        flex-direction: column;
    }
    #contact h5{
        font-size: 5vw;
    }
    .input-tag input{
        font-size: 1.2em;
    }
    .contact-sec{
        width: 60%;
    }
    .skill-section{
        max-width: 600px;
        width: 100%;
        margin-top: 20px;
    }
    .container{
        max-width: 500px;
        width: 100%;
    }
    .about-me{
        margin-top: 20px;
    }
}
@media (max-width : 350px){
    .link a{
        display: none;
    }
    .circle{
        display: none;
    }
    .link i{
        display: none;
    }
    #buttton{
        display: none;
    }

}
@media (max-width : 950px){
    .project-sec{
        flex-direction: column;
        /* margin: 20px; */
        /* padding: 20px; */
    }
    .pro{
        margin: 20px;
    }
}
@media screen and (max-width : 800px){
    .navbar{
        background-color: transparent;
    }
    .navlist{
        flex-direction: column;
        /* text-align: center; */
    }
    #v-nav-resp{
        margin-top: 20%;
        /* width: 100%; */
        opacity: 0;
    }
    .navbar i{
        display: block;
        position: absolute;
        top: 25%;
        right: 5%;
        font-size: 25px;
        cursor: pointer;
        /* font-size: 4vw; */
        /* font-size: 3vw; */
        /* padding: 20px; */
    }
    .navbar .logo{
        font-size: 10px;
        padding: 3vw;
    }
}