*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"General Sans Regular";
}
html,body{
    width: 100%;
    height: 100%;
}
html{
    scroll-behavior: smooth;
    scroll-padding:10em ;
    /* scrollbar-color:rgb(255, 128, 128) ; */
}
.cursor{
    height: 40px;
    width: 40px;
    background-color: #000;
    border-radius: 50%;
    mix-blend-mode: difference;
    position: absolute;
    transition: all linear 0.2s;
    z-index: 2000;
}
::-webkit-scrollbar{
    width: 5px;
    /* background-color: rgb(255, 207, 150); */
}
::-webkit-scrollbar-thumb{
    background-color:black;
    height: 150px;
    /* background: linear-gradient(transparent,rgb(255, 128, 128)); */
    border-radius: 6px;
}
h2{
    font-size: 2em;
    font-weight: 900px;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* .navbar{
    /* background-color:pink; 
    /* width: 100vmax; 
    height: 80px;
    display: flex;
    align-items: center;
    /* justify-content: center; 
    position: sticky;
    border-radius:  0 10px;
    top: 0;
    cursor: pointer;
} */
.navbar {
    background-color: #fff;
    /* padding: 10px; */
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.navlist{
    /* background-color: coral; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px; 
}
.logo{
    /* background-color: sienna; */
    font-size: 10px;
    font-weight: 500;
    /* padding: 5px 10px; */
    padding: 3vw;
}
.navlist li{
    /* background-color: teal; */
    list-style: none;
    padding: 5px 15px;
    padding-left: 23px;
}
.navlist li a{
    /* background-color: silver; */
    text-decoration: none;
    font-weight: 550;
    font-size: 20px;
    color: black;
}
/* .navlist li a.active{
    opacity: 0.5;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    padding: 5px;
    padding-bottom: 6px;
} */
.navbar .navlist li a:hover{
    opacity: 0.5;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    padding: 5px;
    padding-bottom: 6px;
    transition: all ease 0.3s;
}
.navbar i{
    /* background-color: slateblue; */
    display: none;
    /* border: 2px solid black; */
}
#home{
    position: relative;
    /* height: calc(100% - 100px); */
    height: 100%;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    align-items: center;
    /* background-color: chocolate; */
}
.left-sec{
    /* background-color: yellowgreen; */
    /* height: 80vh;
    width: 80vh; */
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-sec .content{
    text-align: center;
    width: 100%;
    text-shadow: 0px 0px 30px rgba(81, 81, 81, 0.65);
}
#links{
    /* height: 60px; */
    width: 100%;
    /* background-color: darkgreen; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.link a{
    text-decoration: none;
    color: rgba(0, 0, 0,0.7);
    font-weight: 530;
    padding-left: 10px;
    font-size: 1.25vw;
}
.link{
    /* background-color: aquamarine; */
    padding: 2%;
}
#link1{
    /* background-color: aquamarine; */
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content:center;
}
#link2{
    display: flex;
    align-items: center;
    justify-content:center;
}
#link3{
    display: flex;
    align-items: center;
    justify-content:center;
}
#buttton{
    /* height: 60px; */
    width: 100%;
    /* background-color: darkgreen; */
    /* margin: 20px; */
    margin-top: 50px;
    /* padding: 200px; */
    display: flex;
    align-items:center;
    justify-content: center;
}
#buttton1{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-right: 20px;
    /* margin-top: 70px; */
}
#buttton2{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-right: 20px;
    /* margin-top: 70px; */
}
.fpb{
    background-color:rgba(0, 0, 0, 0.775);
    font-size: 1.25vw;
    /* background: none; */
    /* border: 1px solid black; */
    border: none;
    border-radius: 10px;
    padding: 10px;
}
.fpb a{
    text-decoration: none;
    color: #fff;
}
.fpb:hover{
    transition: all ease-in 0.2s;
    background-color: rgba(0, 0, 0, 0.775);
    border: none;
    font-weight: 900;
    cursor: pointer;
    /* color: black; */
}
.circle{
    height: 25px;
    width: 25px;
    border: 2.5px solid rgba(0, 0, 0,0.7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-sec{
    /* height: 80vh;
    width: 80vh; */
    /* background-color: pink; */
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-image{
    /* height: 80%; */
    width: 100%;
    /* border-bottom: 2px solid black; */
    /* background-color: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-sec .main-image img{
    height: 80%;
    width: 80%;
    /* width: 50%; */
    filter: drop-shadow(10px 0px 20px rgba(0, 0, 0, 0.85));
    /* border-bottom: 2px solid black; */
}
#about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 10px;
}
.aboutt{
    /* background-color: teal; */
    /* height: 100vmin;
    width: 100vmin; */
    /* padding: 100px; */
    width: 100%;
    display: flex;
    position: relative;
    /* justify-content: center; */
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px;
    /* background-color: chocolate; */
}
.skill-section{
    /* margin: 10%; */
    background-color: #fff;
    max-width: 400px;
    width: 100%;
    /* margin: 0 15px; */
    padding: 10px 20px;
    border-radius: 7px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.392);
}
.skill-section h3{
    color: rgba(0, 0, 0, 0.549);
    font-weight: 500;
    text-transform: uppercase;
    padding: 2%;
    /* padding-bottom: 0%; */
    text-align: center;
    font-size: 18px;
}
.container{
    position: relative;
    max-width: 350px;
    /* width: 100%; */
    background-color: #ffffff4d;
    margin: 0 1px;
    padding: 10px 20px;
    border-radius: 7px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.116) inset;

}
.container .skillbox{
    width: 100%;
    margin: 25px 0 ;
}
.skillbox .title{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: black;
}
.skillbox .skillbar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 4px;
    background-color: rgba(0,0,0,0.1);
}
.skillbar .skillper{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    background-color: black;
    border-radius: 6px;
    /* animation */
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}
.skillper.css{
    width: 80%;
    animation-delay:0.1s ;
}
.skillper.nodejs{
    width: 40%;
    animation-delay:0.2s ;
}
.skillper.java{
    width: 75%;
    animation-delay:0.3s ;
}
@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.skillper .tooltip{
    position:absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500px;
    color: #fff;
    padding: 2px;
    border-radius: 3px;
    background: black;
    z-index: 1;
}
.tooltip::before{
    height: 10px;
    width: 10px;
    position: absolute;
    content: '';
    bottom: -2px;
    left: 50%;
    z-index: -1;
    background-color:black;
    transform: translateX(-50%) rotate(45deg);
}
.about-me{
    /* margin: 10%; */
    background-color: #fff;
    max-width: 600px;
    width: 100%;
    /* margin: 0 15px; */
    padding: 10px 20px;
    border-radius: 7px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.392);
}
.about-me p{
    color: black;
    opacity: 0.8;
}
#education{
    /* background-color: teal; */
    /* height: 100;
    width: 100; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    /* position: relative; */
}
#education .education-sec{
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
/* #education h1{
    font-size: 60px;
    color: black;
} */
.edu{
    margin: 5%;
    height: 250px;
    width: 400px;
    /* border: 2px black solid; */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.348);
    border-radius: 2%;
    background-color: white;
}
.edu:hover{
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: -10px 10px 20px rgba(96, 96, 96, 0.3) inset;
    transition: all ease 0.3s;
}
.education-sec .edu h4{
    color: rgba(0, 0, 0, 0.403);
    text-align: center;
    padding: 2%;
    padding-bottom: 0%;
}
.education-sec .edu ul{
   padding: 9%; 
}
.education-sec .edu p{
    padding: 5%;
}
#project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
#project h2{
    text-align: center;
}
/* #project h1{
    padding-top: 3%;
    font-size: 60px;
    color: black;
} */
.project-sec{
    flex-wrap: wrap;
    /* height:100%;
    width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-around; 
    /* border-radius: 200px; */
    /* padding: 2%; */
}
.pro{
    /* margin: 8%; */
    height: 400px;
    width: 350px;
    /* border: 10px black solid; */
    /* background-color: rgb(255, 128, 128); */
    border-radius: 20px;
    box-shadow: 0px 10px 20px #00000072 inset, 10px 10px 20px white inset;
    margin: 80px;
    padding: 2%;
}
.pro:hover{
    background-color: rgba(0, 0, 0, 0.4);
    /* transition: linear ease 5s; */
}
.pro .icon{
    height: 200px;
    width: 200px;
    background-color:rgba(0, 0, 0, 0.234);
    margin: 12%;
    /* margin-left: 15%; */
    border-radius: 25px 25px 0px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pro h3{
    text-align: center;
    padding: 2%;
    padding-bottom: 0%;
}
.pro p{
    text-align: center;
    padding: 2%;
    padding-bottom: 0%;
}
.pro p a{
    text-decoration: none;
    color: rgb(83, 83, 192);
}
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    position: relative;
    background-color: #0000000a;
}
.contact-us{
    height:100%;
    width: 100%; 
    display: flex;
    align-items:center;
    justify-content: space-evenly; 
    position: relative;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
}
.contact-us h5{
    font-size: 2vw;
    opacity: 0.5;
}
.contact-sec{
    margin: 20px;
    width: 30%;
    /* height: 100%; */
    /* width: 60%; */
}
.contact-sec form .input-tag{
    margin: 5px;
}
.contact-sec form .input-tag input{
    margin: 5px;
}
.input-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}
.input-tag input{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.247);
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 2px solid #111;
    padding: 2%;
    font-size: 1vw;
}
.input-tag textarea{
    padding: 2%;
    /* margin: 5px; */
    height: 100%;
    width: 100%;
    font-size: 1vw;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.247);
}
textarea::-webkit-scrollbar{
    display: none;
}
.botton{
    margin-left: 20px;
}
.btn{
    /* height: 30px;
    width: 48px; */
    border: 2px solid black;
    text-align: center;
    /* font-size: 12px; */
    /* font-weight: bold; */
    border-radius: 5px;
    padding: 1%;
    margin: 1%;
    color: #fff;
    background-color: #111;
}
.btn:hover{
    transition: all ease-in 0.2s;
    background-color: #0000001c;
    border: none;
    color: #000;
    font-weight: 900;
    cursor: pointer;
}
footer{
    position: relative;
    height: 28%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-sec{
    height: 100%;
    width: 40%;
    /* background-color: rgba(0, 0, 0, 0.549); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icon-sec{
    height: 30%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icon-sec a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.icon-sec i{
    font-size: 20px;
}
.circles{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* background-color: violet; */
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content:center;
}
.footer-text{
    height: 70%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: #fff;
}